@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@font-face{
    font-family:"Raleway";
    src: url('../css/Fonts/Raleway/static/Raleway-Light.ttf') format(truetype);
}
*{
  box-sizing: border-box;
}
body {
  font-family: "Raleway";
  font-weight: 600;
  background: #e3e3e3;
  margin: 0;
}

body h1 h2{
  font-family: "Lato";
}
.cv {
  width: 1160px;
  margin: auto;
  background: white;
}

/* HEADER */
header {
  background: #17abb3;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}
.photo{
  cursor: zoom-in;
  transition: 0.3s;
}
.header-text{
    display: flex;
    flex: auto;
    flex-direction: column;
    text-align: center;
}

.infos{
    display: flex;
    flex-direction: column;
}

span img{
  width: 20px;
  filter: brightness(0) invert(1);
}
.photo {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
  border: solid white;
}

.p01{
  font-size: small;
  font-style: italic;
  margin-top: 0;
}

.header-text h1 {
  margin: 0;
}

.infos span {
  margin-right: 15px;
  font-size: 14px;
}

/* LAYOUT */
.container {
  display: flex;
}


section small{
  font-style: italic;
  font-weight: bold;
}



/* SIDEBAR */
aside {
  width: 30%;
  background: #f5f5f5;
  padding: 20px;
}

aside p{
  display: flex;
  justify-content: space-between;
}

aside h2 {
  color: #17abb3;
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 5px;
}

aside span{
  font-weight: lighter;
  color: #17abb3;
}

aside ul {
  padding-left: 20px;
}

aside ::marker{
  color: #17abb3;
}

aside p{
  font-weight: bold;
}


/* MAIN */
main {
  width: 70%;
  padding: 20px;
}
#s01 p{
  text-align: justify;
  text-indent: 2em;
  padding: 0;
  margin: 0;
}
main h2 {
  color: #17abb3;
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 5px;
}

.s02{
  color: #17abb3;
  font-weight: lighter;
}

.h01{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

main section p{
    margin-bottom: 0px;
}

.hover::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #17abb3;
  opacity: 0;
  transition: 0.3s;
}
.hover:hover::before{
  opacity: 1;
}

.hover:hover {
  background-color: #f5f5f5;
  transform: translateX(5px);
}
/* FOOTER */
footer {
  background: #17abb3;
  color: white;
  text-align: center;
  padding: 10px;
}
footer p{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;

}
footer img{
  margin-left: 20px;
  margin-right: 20px;
  width: 30px;
}

footer img:hover{
  opacity: 0.5;
}

footer small{
    font-style: italic;
}

footer p{
  font-style: italic;
  font-size: small;
}